<section class="about-me-section">
  <div class="about-me container">
      <div class="about-me-image-container ">
        <img class="about-me-img" src="./assets/images/about-me.jpg" alt="une photo de moi" />
      </div>
      <div class="about-me-txt">
        <h2>Qui suis-je ?</h2>
        <p>Bonjour et bienvenue, moi c’est Mélanie ! Cela fait presque 10 ans que j’ai fait le choix de m’alimenter en étant alignée avec ce que je crois être bon pour la planète, les animaux et moi-même.</p>

        <p>Je suis persuadée que l’alimentation peut-être la clé pour être en pleine santé. C’est pourquoi je me suis passionnée pour l’alimentation végétale qui, lorsqu’elle est équilibrée, est une parfaite alliée.</p>

        <p>Je suis certifiée experte en nutrition végétale par l’académie Vegaïa et bénéficie d’une expérience personnelle significative de 10 ans dans ce domaine. Je crois profondément que chaque personne mérite de se sentir épanouie et en harmonie avec son corps et son esprit.</p>

        <p>Mon approche repose sur l’individualisation, car nous sommes tous uniques et il n’existe pas de modèle alimentaire universel.</p>
        <p>Je souhaite voir mes clients s’épanouir en vivant pleinement et sainement.</p>
      </div>
    </div>
</section>

<section class="origin-section container">
  <h2>Les origines du projet</h2>
  <p>
    Durant les premières années de ma transition alimentaire, un médecin m’a dit que seules les vaches peuvent transformer l’herbe en muscle. J’ai alors voulu me prouver que je pouvais être en pleine santé tout en étant alignée avec mes valeurs. Je me suis donc beaucoup documentée et me suis découvert une passion pour l’alimentation et la santé.
  </p>
  <p>
  Dix ans après, j’ai décidé de partager mes connaissances. J’ai suivi une formation certifiante afin de connaître plus en détails l’impact que les aliments ont réellement sur notre organisme. C’est de là qu’est né le projet Bien Vivre Bien Manger.
  </p>
  <p>
  En me rejoignant pour une consultation, vous bénéficierez d’un accompagnement sur-mesure. J’écoute attentivement vos besoins et vos objectifs pour élaborer avec vous une stratégie réaliste et adaptée.</p>
  <p>
  Que vous souhaitiez améliorer votre santé, adopter une alimentation plus éthique ou tout simplement découvrir une nouvelle manière de vous alimenter, je suis là pour vous guider à chaque étape de votre transition vers une alimentation plus végétale.
  </p>
</section>
