<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img class="logo" src="./assets/images/icon.png" alt="Logo" /></a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#618264" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
        </span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-content-center">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"><p>Accueil</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/a-propos"><p>À propos</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/offres-et-tarifs"><p>Offres et tarifs</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"><p>Contact</p></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="imageHeaderContainer">
    <img class="imageHeader" src="./assets/images/header.jpg" alt="photo bandeau" />
    <h1>Bien Vivre Bien Manger</h1>
  </div>
</header>
