<section class="container">
  <h2>
    Conditions générales de ventes
    (En vigueur à partir du 10/10/ 2023)
  </h2>

  <h3>Clause n° 1 : Objet</h3>
  <p>
    Les conditions générales de vente décrites ci-après détaillent les droits et obligations de
    l’entreprise Bien vivre bien manger et de son client dans le cadre de la vente des prestations
    suivantes :<br /> Visio-consultation en nutrition végétale, consultation à domicile en nutrition
    végétale.
  </p>
  <p>
    Toutes prestations accomplies par l’entreprise Bien vivre bien manger impliquent donc l'adhésion
    sans réserve du client aux présentes conditions générales de vente.
  </p>
  <h3>Clause n° 2 : Prix</h3>
  <p>
    Les prestations vendues sont celles en vigueur au jour de la prise de rendez-vous. Les prix sont
    libellés en euros et calculés hors taxes. L’entreprise Bien vivre bien manger bénéficie de la
    franchise en base de TVA (TVA non applicable, art.293B du CGI). L’entreprise Bien vivre
    bien manger s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à
    facturer les prestations aux prix indiqués lors de la prise de rendez-vous.
  </p>
  <h3>Clause n° 3 : Rabais et ristournes</h3>
  <p>
    Les tarifs proposés comprennent les rabais et ristournes que l’entreprise Bien vivre bien
    manger serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par le
    client de certaines prestations.
  </p>
  <h3>Clause n° 4 : Escompte</h3>
  <p>Aucun escompte ne sera consenti.</p>
  <h3>Clause n° 5 : Modalités de paiement</h3>
  <p>Le règlement sera effectué à la fin de la consultation, via un lien de paiement sécurisé.</p>
  <p>Le règlement des commandes s'effectue :</p>

  <ul>
    <li>
      - Soit par espèces si consultation à domicile ou par carte bancaire via la plateforme de
      paiement en ligne.
    </li>
    <li>
      - Soit par carte bancaire via la plateforme de paiement en ligne si visio-consultation.
    </li>
  </ul>

  <h3>Clause n° 6 : Retard de paiement</h3>
  <p>
    En cas de défaut de paiement total ou partiel de la prestation au jour de la consultation, le
    client doit verser à l’entreprise Bien vivre bien manger une pénalité de retard égale à trois fois
    le taux de l'intérêt légal.
  </p><p>
    Le taux de l'intérêt légal retenu est celui en vigueur au jour de la consultation.
    Cette pénalité est calculée sur le montant hors taxes de la somme restante due, et court à
    compter de la date d'échéance du prix sans qu'aucune mise en demeure préalable ne soit
    nécessaire.
  </p><p>
    En sus des indemnités de retard, toute somme non payée à sa date
    d’exigibilité produira de plein droit le paiement d’une indemnité forfaitaire de 40 euros due au
    titre des frais de recouvrement.
  </p><p>
    Articles 441-6, I alinéa 12 et D. 441-5 du code de commerce.
  </p>
  <h3>Clause n° 7 : Force majeure</h3>
  <p>
    La responsabilité de l’entreprise Bien vivre bien manger ne pourra pas être mise en œuvre si
    la non-exécution ou le retard dans l'exécution de l'une de ses obligations décrites dans les
    présentes conditions générales de vente découle d'un cas de force majeure. À ce titre, la force
    majeure s'entend de tout événement extérieur, imprévisible et irrésistible au sens de l'article
    1148 du Code civil.
  </p><p>
    Mélanie Vicente Pires s’engage à informer le client d’un tel cas de force majeure dans les plus
    brefs délais et à exécuter ses obligations dès la cessation dudit empêchement.
  </p>
  <h3>Clause n° 8 : Propriété intellectuelle</h3>
  <p>
    Les notes de fin de consultation, e-book, spécifications et recommandations techniques
    dressés par l’entreprise Bien vivre bien manger restent sa propriété et ne peuvent en aucun cas
    faire l’objet d’une reproduction ou utilisation sans son accord préalable et écrit.
  </p>
  <h3>Clause n° 9 : Protection des données à caractère personnel</h3>
  <p>
    Le Client est informé et accepte que les données personnelles renseignées par ses soins
    puissent être collectées et utilisées par l’entreprise Bien vivre bien manger.
    L’entreprise Bien vivre bien manger collecte des données personnelles du client, notamment
    son nom, prénom, adresse email, numéros de téléphone et adresse postale.
  </p><p>
    Les informations et données personnelles des clients sont nécessaires à la gestion des rendez-vous et des relations avec les clients, ainsi que pour les tenir informés de toutes informations
    relatives à leur rendez-vous.
  </p><p>
    Ces données sont conservées dans des conditions sécurisées, selon les moyens actuels de la
    technique, dans le respect des dispositions légales et réglementaires. 
  </p><p>
    Le client dispose de rectification d’opposition et de limitation du traitement et d’effacement
    de ses données.
  </p><p>
    Pour exercer ses droits, le client doit contacter Mélanie Vicente Pires par email ou par
    téléphone, disponible sur le site internet www.bienvivrebienmanger.com.
  </p>
  <h3>Clause n° 10 : Tribunal compétent</h3>
  <p>
    Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente
    est soumis au droit français.
    À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de
    Toulouse.
  </p>
  <div class="where-when-div">
    <p>
      Fait à Toulouse, le 10/10/2023
    </p><p>
      Vicente pires Mélanie
    </p>
  </div>
</section>
