<section class="container">
  <h2>
    Mentions Légales
  </h2>

  <p>
    En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site internet www.bienvivrebienmanger.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
  </p>

  <h3>Propriétaire</h3>
  <p>
    Mélanie Vicente Pires
    <br />Le site : www.bienvivrebienmanger.com
    <br />Micro-entreprise : Bien vivre bien manger
    <br />Numéro de Siret : 98053086900018
    <br />Siège social : 8 place Roger Salengro 31000 Toulouse
    <br />Téléphone : 06.02.56.30.32
    <br />Adresse e-mail : bienvivrebienmanger@gmail.com
  </p>

  <h3>Webmaster</h3>
  <p>
    Antoine Lardant – antoine.lardant@gmail.com
  </p>

  <h3>Hébergeur </h3>
  <p>
    Ce site est hébergé sur l’offre Cloud de Microsoft (Azure). Il est géographiquement localisé dans le centre d’hébergement de Microsoft en France et en Europe de l’Ouest situé aux Pays Bas. Pour plus d’informations, veuillez-vous référer à : https://www.microsoft.com/fr-fr/TrustCenter/Privacy/
  </p>L’entité juridique qui opère Microsoft Azure Europe est localisée à l’adresse suivante :
  <br />Microsoft Azure Ireland – 1, One Microsoft Place, South County Business Park, Leopardstown, Dublin 18, D18 P521, Irlande. Tél. :+353 1 295 3826.

  <h3>Crédits photos </h3>
  <p>
    Les photos utilisées dans ce site internet proviennent de :
    Unsplash.com
    Pixabay.com
  </p>

  <h3>Gestion des données personnelles</h3>
  <p>
    Les données collectées sur ce site internet, lorsque que vous envoyez une demande sont les champs du formulaire. Exemples : nom, prénom, téléphone et électronique, détail de la demande...
    <br />Le responsable du site utilisera uniquement les données que vous avez transmises pour répondre à votre demande. Il est responsable du traitement de ces données à caratère personnel.
    </p><p>Les données seront conservées pendant 3 ans au plus.
    Les données ne seront pas communiquées à des tiers.
    Vous pouvez demander de corriger ou d'effacer vos données personnelles en envoyant un mail ou via le formulaire de contact du site en précisant "Traitement des données personnelles".
    Dans le corps du mail, vous devrez préciser votre nom, prénom, votre adresse mail, ainsi que le détail de votre demande.
    <br />Nous vous invitons à contacter le responsable du site si vous pensez que vos données personnelles n’ont pas été traitées correctement ou si nous n'avons pas satisfaits à vos exigences.
  </p>

  <h3>Cookies </h3>
  <p>
    La navigation sur le site www.bienvivrebienmanger.com n’entraîne pas l’installation de cookie(s) sur l’ordinateur de l’utilisateur.
  </p>

  <h3>Droit applicable et attribution de juridiction </h3>
  <p>
    Tout litige en relation avec l’utilisation du site www.bienvivrebienmanger.com est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Toulouse.
  </p>
</section>
