
<app-offers-offer title="Consultation Individuelle"
                  imageUrl="./assets/images/offer1.jpg"
                  imageAlt="Image de l'offre individuelle"
                  summary="Le suivi de 30 minutes est réalisé un mois après la consultation initiale. Il est mis en place pour répondre à vos questions et pour vous garantir des progrès durables."
                  description="Lors de cette consultation, nous prendrons le temps de comprendre vos besoins, votre santé, vos préférences, vos contraintes éventuelles ainsi que vos habitudes alimentaires.

- En visio-consultation

- 1 h de consultation personnalisée

- 30 minutes de suivi en visio-consultation ou par téléphone un mois après la consultation initiale

- Remise de notes personnalisées sur les conseils et astuces vus lors de la consultation
"
                  backgroundColor="#ECEBBD"
                  price="90 €*"
                  discount="*Bénéficiez de -10 % sur les consultations individuelles suivantes.">

</app-offers-offer>

<app-offers-offer title="Pack 3 mois"
                  imageUrl="./assets/images/offer2.jpg"
                  imageAlt="Image du pack 3 mois"
                  summary="L’engagement sur 3 mois vous donne le temps nécessaire pour apporter des changements durables à vos habitudes alimentaires.

Grâce à votre suivi Whatsapp, vous ne serez jamais seul(e) dans votre parcours vers une alimentation plus végétale. Je serai là pour répondre à toutes vos questions et vous soutenir à chaque étape du chemin."
                  description="Lors de ce suivi, nous prendrons le temps de comprendre vos besoins, votre santé, vos préférences, vos contraintes éventuelles ainsi que vos habitudes alimentaires.

- En visio-consultation

- 1 consultation personnalisée de 1h par mois

- Accès au service de suivi Whatsapp du lundi au vendredi de 9h à 19h
      
- Je m’engage à vous répondre au plus tard dans les 2h

- Remise d’un e-book sur les bases et les indispensables à une alimentation végétale
+
- Remise de notes personnalisées sur les conseils et astuces vus lors de la consultation"
                  backgroundColor="#F7CC84"
                  price="150 € / mois*"
                  discount="*Bénéficiez de -10 % sur le premier mois du pack, si une consultation individuelle a été faite en amont."
                  [reverse]="true">

</app-offers-offer>

<app-offers-offer title="Consultation à domicile"
                  imageUrl="./assets/images/offer3.jpg"
                  imageAlt="Image de l'offre frigo futé"
                  summary=" Le suivi de 30 minutes est réalisé un mois après la consultation. Il est mis en place pour répondre à vos questions et pour vous garantir des progrès durables. "
                  description="-- Toulouse et ses proches alentours --

Lors de cette consultation, nous prendrons le temps de comprendre vos besoins.
Je vous accompagnerai afin de mettre en place des stratégies sur le long de terme pour atteindre vos objectifs.

- Un premier rendez-vous de 1h en visio-consulation
+
- Un second rendez-vous de 2h à votre domicile :
Analyse complète de vos placards et frigo
Nous nous rendrons dans le magasin où vous faites vos courses pour y trouver des alternatives végétales
+
- 30 minutes de suivi en visio-consultation ou par téléphone un mois après la consultation

- Remise de notes personnalisées sur les conseils et astuces vus lors de la consultation
"
                  backgroundColor="#F8F1E4"
                  price="265 €*"
                  discount="*Bénéficiez de -10 % si  le pack de 3 mois a été fait en amont."
>

</app-offers-offer>

<div class="contact-me">
  <div class="container">
    <p>Vous souhaitez en savoir plus sur l'une des offres présentées ci-dessus ? <br /> N'hésitez pas à me contacter par mail, téléphone ou en remplissant le formulaire de contact.</p>
    <app-button (btnClick)="redirectToContact()" text="Me Contacter" backgroundColor="#ffffff"></app-button>
  </div>
</div>

