<footer>
  <div class="container-fluid">
    <div class="bg"></div>
    <div class="footer-open-hours">
      <p>Horaires et jours de consultation</p>
      <p>
        Lundi : 9h-12h / 13h-19h<br />
        Mardi : 9h-12h / 13h-19h<br />
        Mercredi : 9h-12h / 13h-19h<br />
        Jeudi : 9h-12h / 13h-19h<br />
        Vendredi : 9h-12h / 13h-19h<br />
        Samedi : 9h-14h<br />
        Dimanche : fermé
      </p>
    </div>
    <div class="footer-name">
      <div class="copyright">
        <p>
          Mélanie Pires - © Tous droits réservés
          <br />Site créé  par Antoine Lardant - 2023
        </p>
      </div>
      <p class="cgdv-ml"><a class="nav-link" routerLink="/cgdv">CGDV</a> - <a class="nav-link" routerLink="/mentions-legales">Mentions légales</a></p>
    </div>
    <div class="footer-adress">
      <a href="https://www.instagram.com/bienvivre.bienmanger/" target="_blank"><img class="logo-insta" src="./assets/images/Instagram_icon.png" alt="logo Instragram" /></a>
      <p>Toulouse</p>
      <p class=""><a href="tel:+33602563032">06 02 56 30 32</a></p>
      <p><a href="mailto:bienvivrebienmanger@gmail.com">bienvivrebienmanger@gmail.com</a></p>
    </div>
  </div>
</footer>
